@import '../bootstrap/variables' ;

button {
    background-color: $purple;
    color: $yellow;
}

.btn{

    &--purple{
        background-color: $purple;
        color: $yellow;

        a,a:visted,a:active{
            color: $yellow;
        }

    }
}